.floatingMenu{
    position : fixed;
    // left : 1783px;
    display : flex;
    justify-content: center;
    align-items: center;
    box-sizing : border-box;
    width : 71px;
    height : 71px;
    border-radius: 100px;
    background-color: #B3E7FF;
    border: 1.5px solid #FF8AA3;
    cursor : pointer;
}


#first {
    // position : sticky;
    top : 500px;
    left : 1783px;
    // bottom : 350px;

    #floating_home{
        width : 60px;
        height : 48px;
    }
}

#second{
    // position : sticky;
    top : 587px;
    left : 1783px;
    // bottom : 253px;

    #floating_top{
        width : 42px;
        height : 48px;
    }
}

#third{
    // position : sticky;
    top : 674px;
    left : 1783px;
    // bottom : 177px;
    
    #floating_inquiry{
        width : 23px;
        height : 46px;
    }
}

#fourth{
    // position : sticky;
    top : 761px;
    left : 1783px;
    // bottom : 91px;
    
    #floatingBar_logo{
        width : 44px;
        height : 42px;
    }
}

